
.logo{
    width: 80px;
    border-radius: 50%;
    margin-right: 25px;
    
}
header{
    display: flex;
    flex-direction: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.w-100{
    width: 100%;
}
.w-90{
    width: 90%;
}

.text-center{
    text-align: center;
}

#menu{
  
    list-style-type: none;
    padding: 15px;

   /*  margin-right: 15%; */
    display: flex;
    justify-content: center;
    background-color: darkgray;
}
#menu li{
    margin: 0 15px;
}
#menu li a{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 25px;
    transition: background-color 0.3;
}
#menu li a:hover {
    background-color: blue;
}
#logoBanner{
display: flex;
}

@media (max-width: 768px) {
    header{
        flex-direction: column;
    
    }
}

table, th, td {
    border: 1.5px solid red;
}

